In [20]:
#1. import libraries
import pandas as pd
from sqlalchemy import create_engine, text
import json
import psycopg2

In [21]:
#2. Load the database configuration
with open ("db_config.json","r") as file:
    config = json.load(file)

username = config["username"]
password = config["password"]
host = config["host"]
port = config["port"]
database = config["database"]

print ('Succesful loaded the credential!')

Succesful loaded the credential!

In [ ]:
#3. Connect to PostgreSQL
engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database}')
print (f'Connected to database {database}')

Connected to database shoes

In [31]:
#4. Load CSV file into DataFrame
csv_path = 'cleaned_shoes.csv'
df = pd.read_csv(csv_path)
display(df.head())
df['date'] = pd.to_datetime(df['date'])
print(df.dtypes)

,date,product_name,product_type,brand,gender,category,country,quantity,unit_price,amount,payment_mode
0,2022-05-27,Fear of God Essentials Tee,T-shirt,Essentials,Unisex,Limited Edition,Japan,5,141.82,709.10,Card
1,2022-08-22,Yeezy Boost 350,Sneakers,Adidas,Unisex,Streetwear,USA,2,267.34,534.68,Cash on Delivery
2,2022-04-03,Nike Dunk Low,Sneakers,Nike,Women,Limited Edition,Germany,1,292.00,292.00,Cash on Delivery
3,2022-07-13,Nike Tech Fleece,Hoodie,Nike,Men,Limited Edition,USA,4,245.44,981.76,Cash on Delivery
4,2022-08-25,Jordan 1 High,Sneakers,Nike,Women,Casual,Australia,2,184.51,369.02,Cash on Delivery

date            datetime64[ns]
product_name            object
product_type            object
brand                   object
gender                  object
category                object
country                 object
quantity                 int64
unit_price             float64
amount                 float64
payment_mode            object
dtype: object

In [32]:
#5. Upload CSV to postgreSQL
table_name = "sales_shoes"
df.to_sql(table_name, con=engine, index=False, if_exists="replace")
print(f"CSV data uploaded to table {table_name}!")

CSV data uploaded to table sales_shoes!

In [33]:
#6. Verify upload
with engine.connect() as conn:
    count = conn.execute(text(f"SELECT COUNT(*) FROM {table_name}")).scalar()
    print(f"Table '{table_name}' now contains {count} records.")

Table 'sales_shoes' now contains 353 records.